
body
  background-color: #f2f2f2
  font-size: 16px
  line-height: 1.6
  font-family: 'Raleway', sans-serif
  color: #666
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: 100%
  text-rendering: auto
  -moz-osx-font-smoothing: grayscale
  max-width: 100%
  margin: 0 auto
  &::-webkit-scrollbar
    width: 5px

  &::-webkit-scrollbar-track 
    background: #FFF
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1)


  &::-webkit-scrollbar-thumb
    background: #CCC
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2)


  &::-webkit-scrollbar-thumb:hover
    background: #AAA


  &::-webkit-scrollbar-thumb:active
    background: #888
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3)
  
