doctype html
html(lang='en')
  head
    title Lars Jönsson * Front-End Developer
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="description" content="Marcus Olsson är en frilansande webbutvecklare och webbdesigner i Borås. Erbjuder produktion av webbsidor, applikationer, nyhetsbrev och mycket annat.")
    meta(name="theme-color" content="#db5945")
    <!-- Latest compiled and minified CSS -->
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet")
    link(rel='stylesheet', href='assets/css/main.css')


  body
    .container-fluid
      header
        .collector.navbar
          nav#mySidenav.sidenav
            span.closebtn(onclick="closeNav()") &times;
            a(href="#Home") Home
            a(href="#About") About
            a(href="#Work") Work
            a(href="#Testamonials") Testamonials
            a(href="#Services") Services
          span#open(onclick='openNav()') Menu

        .hero-img
          .container
            h1.myName Lars Jönsson
            h4.frontEnd Front-End developer
            .social-media-icons
              a(href="#")
                img(src="/assets/img/codepen.png", alt="codepen")
              a(href="#")
                img(src="/assets/img/github.png", alt="github")
              a(href="#")
                img(src="/assets/img/linkedin.png", alt="codepen")
              a(href="#")
                img(src="/assets/img/instagram.png", alt="instagram")
              a(href="#")
                img(src="/assets/img/twitter.png", alt="twitter")

      .container
        section.about.row
          .picture-me.col-md-6.col-sm-6.col-xs-12
          article.col-md-6.col-sm-6.col-xs-12
            h4 A Little About Me
            .line
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam magnam itaque, eos unde sequi totam maiores accusamus. Aspernatur deleniti aliquam voluptatem dicta similique. Voluptate ut doloremque eligendi, rem veniam necessitatibus.


      section.gallerys.container-fluid
        h4 What I've Done
        p This Is Where I Can Guarantee My Skills
        .container
          .row
            .col-md-4.col-sm-4
              a.popupimage(href="/assets/img/image.jpeg")
                img.thumbnail(src="/assets/img/image.jpeg", alt="")
            .col-md-4.col-sm-4
              a.popupimage(href="/assets/img/image.jpeg")
                img.thumbnail(src="/assets/img/image.jpeg", alt="")
            .col-md-4.col-sm-4
              a.popupimage(href="/assets/img/image.jpeg")
                img.thumbnail(src="/assets/img/image.jpeg", alt="")
          .row
            .col-md-4.col-sm-4
              a.popupimage(href="/assets/img/image.jpeg")
                img.thumbnail(src="/assets/img/image.jpeg", alt="")
            .col-md-4.col-sm-4
              a.popupimage(href="/assets/img/image.jpeg")
                img.thumbnail(src="/assets/img/image.jpeg", alt="")
            .col-md-4.col-sm-4
              a.popupimage(href="/assets/img/image.jpeg")
                img.thumbnail(src="/assets/img/image.jpeg", alt="")

            .modal.fade
              .modal-dialog.modal-lg
                .modal-content
                  img(src="")


      section.testamonials.container
        h4 Testamonials
        #text-carousel.carousel.slide(data-ride='carousel')
          ol.carousel-indicators
            li.active(data-target='#text-carousel', data-slide-to='0')
            li(data-target='#text-carousel', data-slide-to='1')
            li(data-target='#text-carousel', data-slide-to='2')
          .row
            .container
              .carousel-inner(role="listbox")
                .item.active
                  .carousel-content
                    .container.text-testamonials
                      h4 Sofie Blom
                      p He is a wunderful human
                .item
                  .carousel-content
                    .container.text-testamonials
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, sint fuga temporibus nam saepe delectus expedita vitae magnam necessitatibus dolores tempore consequatur dicta cumque repellendus eligendi ducimus placeat!
                .item
                  .carousel-content
                    .container.text-testamonials
                      p
                        | Sapiente, ducimus, voluptas, mollitia voluptatibus nemo explicabo sit blanditiis laborum dolore illum fuga veniam quae expedita libero accusamus quas harum ex numquam necessitatibus provident deleniti tenetur iusto officiis recusandae corporis culpa quaerat?


      section.container.tools
        h4 The tools that i use daily in my development environment
        .container.col-lg-12
          .sass.icons
            .col-lg-3
              img(src="/assets/img/sass.png", alt="sass")
          .pug.icons
            .col-lg-3
              img(src="/assets/img/pug.png", alt="pug/jade")
          .jquery.icons
            .col-lg-3
              img(src="/assets/img/jquery.png", alt="jquery")
          .javascript.icons
            .col-lg-3
              img(src="/assets/img/js.png", alt="javascript")



      section.container.services
        .services-text
          h4 My Services
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .container.col-lg-12.seo
          .row
            .col-md-6.icon
              p IMG
            .col-md-6.text
              p Text

        .container.col-lg-12.responsive
          .row
            .col-md-6.text
              p Text
            .col-md-6.icon
              p IMG

        .container.col-lg-12.code
          .row
            .col-md-6.icon
              p IMG
            .col-md-6.text
              p Text

        .container.col-lg-12.design
          .row
            .col-md-6.text
              p Text
            .col-md-6.icon
              p IMG

      section.container.contact
        .contact-text
          h4 Get In Touch
          p I’m are here to help You. Want to learn more about my services? Or you got an awesome idea, dont hesitate to share it with me. I'll sure make it come true.
        .container
          .row
            .col-lg-6.col-md-6.col-sm-6.map
              #map
            .col-lg-6.contact-text
              .inner.contact


script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")

script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")

script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDr0p_-clW9KPpMF01xEAOh36UR-DfLeSY&callback=initMap')


script(src='assets/js/functions.js')
