.jumbotron.banner-header
  padding-top: 10rem
  border-radius: 0px
  @media(max-width: 414px)
    padding-top: 5rem
    margin-bottom: 0

h4, h1
  color: #292b2c
hr
  margin-top: 30px
.banner-info
  @media(max-width: 414px)
    margin-top: 0
  .banner-nummer-ett
    margin-top: 3rem
    margin-bottom: 5rem
    img
      max-width: 50%
      display: block
      margin: auto
