.btn
  padding: 0px 25px
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12)
  border-radius: 2px
  will-change: box-shadow
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1)
  border: none
  outline: none
  text-transform: uppercase
  font-weight: 600
  line-height: 40px
  font-size: smaller
  background-color: #337ab7
  color: #fff
  letter-spacing: 1px
  &:active:focus
    outline: none
    background-color: #337ab7
  &:active
    background-color: #337ab7
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2)
  &:hover
    border-color: transparent
    background-color: #286090
  &:focus
    background-color: #337ab7
    outline: none
.container-fluid
  padding: 0px
  background: $white


/***************Navigation****************/

.active
  border-bottom: 2px solid #337ab7
.handle
  width: 100%
  text-align: left
  padding: 10px
  background: #337ab7
  color: #fff
  display: none
  @media (max-width: 768px)
    display: block
.collector
  position: fixed
  width: 100%
  z-index: 9999
  border-radius: 0
  display: flex
  justify-content: flex-end
  @media (max-width: 768px)
    display: block
    background: #fff
.navbar
  @media (max-width: 768px)
    min-height: 0px
    border: none
  ul
    padding: 0
    margin: 0
    transition: all 300ms ease-in-out
    overflow: hidden
    &.showing
      max-height: 25rem
      transition: all 300ms ease
    @media (max-width: 768px)
      max-height: 0
    li
      list-style-type: none
      display: inline-block
      padding: 2px
      &:nth-last-child(1)
        margin-right: 8rem
      @media (max-width: 768px)
        display: block
        width: 100%
        &:nth-last-child(1)
          margin-right: 0rem
      a
        padding: 8px 8px 0px 8px
        text-decoration: none
        font-size: 1.8rem
        color: #333
        display: block
        @media (max-width: 320px)
          font-size: 0.9em
        &:hover
          color: #999

.shrink
  background: transparentize(#fff, .3)
  box-shadow: 0 2px 5px rgba(0,0,0,.26)

/*****************Jumbotron****************/

.hero-img
  height: 100%
  background: linear-gradient(to bottom, rgba(255,255,255,0) 95%, rgba(255,255,255,1) 100%), url("/assets/img/outdoors.jpg") no-repeat
  background-size: cover
  @media (min-width: 1681px)
    background: linear-gradient(to bottom, rgba(255,255,255,0) 80%, rgba(255,255,255,1) 100%), url("/assets/img/outdoors.jpg") no-repeat
  @media (max-width: 414px)
    background: linear-gradient(to bottom, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 100%), url("/assets/img/outdoors.jpg") no-repeat
  .row
    @media (min-width: 1681px)
      margin-top: 6em
    @media (max-width: 1680px)
      margin-top: 6em
    @media (max-width: 1440px)
      margin-top: 3.3em
    @media (max-width: 1024px)
      margin-top: 5em

  .myName
    color: $index-header
    margin: 0
    letter-spacing: 1px
    font-weight: 600
    mix-blend-mode: darken
    @media (min-width: 1681px)
      font-size: 8em
    @media (max-width: 1680px)
      font-size: 6em
    @media (max-width: 1440px)
      font-size: 5em
    @media (max-width: 768px)
      font-size: 3em
    @media (max-width: 414px)
      font-size: 2.8em
      mix-blend-mode: normal
    @media (max-width: 375px)
      font-size: 2.5em
      mix-blend-mode: normal
    @media (max-width: 320px)
      font-size: 2em
      mix-blend-mode: normal
  .hero-text
    margin-top: 0px
  .heads-up
    margin-top: 4em
    padding: 1em
    background: orange
    border-radius: 2px
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
  .lead-link
    color: $white
    text-decoration: none
    border-style: none none dotted
    border-width: 1px
    border-color: #ccc
    transition: all 200ms ease
    &:hover
      padding-bottom: 3px
      border-color: #666
  p
    color: $index-dark-grey-text
    text-align: left
    @media (min-width: 1681px)
      mix-blend-mode: normal
      font-size: 1.2em
      margin-top: 13em
    @media (max-width: 1680px)
      margin-top: 7em
    @media (max-width: 1440px)
      margin-top: 7em
    @media (max-width: 414px)
      mix-blend-mode: normal
      margin-top: 4em
    @media (max-width: 375px)
      margin-top: 8em
      font-size: 0.9em
    @media (max-width: 320px)
      margin-top: 12em
    u
      text-decoration: none

  .hire-me
    margin: 5rem 0 5rem
    .construction
      color: #000


/****************Tjänster****************/

.tjänster
  margin: 10em auto
  .row
    text-align: center
    .seo
      background: pink



/****************Testamonials****************/


/*.testamonials
  padding-top: 5rem
  width: auto
  margin: 10rem 0 0 0
  h3
    text-align: center
  .row
    background: #0C2239
    padding: 15rem 0 15rem
    color: silver
    .text-testamonials
      text-align: center
      h4
        color: silver*/





/****************Parallax****************/

/*.parallax
  .image-box
    position: relative
    height: 300px
    width: auto
    background: url("/assets/img/code.jpg")
    background-size: cover
    background-attachment: fixed
    overflow: hidden
    @media (max-width: 768px)
      background-attachment: scroll
    .parallax-text
      position: absolute
      top: 50%
      margin-top: -47px
      width: 100%
      text-align: center
      .ptext
        color: #fff*/





/****************Footer****************/

.footer
  margin-top: 5rem
  a
    font-size: 1em
    @media (max-width: 320px)
      font-size: 0.9em
    &:nth-child(-n+5)
      padding-left: 1rem
  @media (max-width: 450px)
    margin-top: 0px
  .col-lg-6
    padding-left: 0px
    @media (max-width: 768px)
      padding-left: 15px
    @media (max-width: 450px)
      display: grid
      margin-bottom: 2rem
  hr.row
    margin-top: 5rem
  .copyright
    margin-bottom: 3rem
    a
      font-size: 13px

@media (max-width: 420px)
  .button
    width: 100%


@keyframes roll
  0%
    transform: translateY(0em)

  4%
    transform: translateY(-2em)

  25%
    transform: translateY(-3em)

  29%
    transform: translateY(-4em)

  50%
    transform: translateY(-5em)

  54%
    transform: translateY(-6em)

  75%
    transform: translateY(-7em)

  79%
    transform: translateY(1em)

  100%
    transform: translateY(0em)
