.seo-header
  background: #fff
  h1
    color: #292b2c
hr
  margin-top: 30px
.seo-info
  .seo-nummer-ett
    margin-top: 3rem
    margin-bottom: 5rem
    img
      max-width: 50%
      display: block
      margin: auto
