.contact {
  padding-top: 10rem;
  margin-bottom: 5rem; }
  .contact h3 {
    font-weight: 500; }
  .contact .contact-text {
    text-align: center;
    margin: 5rem auto 0; }
  .contact .container .map {
    margin-top: 3rem; }
    .contact .container .map #map {
      width: 100%;
      height: 450px; }
  .contact .container .row .form_main {
    margin: 3rem 0 0 3rem; }
    @media (max-width: 1200px) {
      .contact .container .row .form_main {
        margin: 0px; } }
    .contact .container .row .form_main .icons {
      display: block;
      margin: 3rem 0 3rem -1rem; }
      .contact .container .row .form_main .icons img {
        display: block;
        width: 20px;
        float: left; }
      .contact .container .row .form_main .icons span {
        margin-left: 1rem; }
        .contact .container .row .form_main .icons span .contact-google-icon {
          margin-top: 3rem; }
      .contact .container .row .form_main .icons #name {
        text-transform: capitalize; }
  .contact .container .row #status {
    display: inline; }
    .contact .container .row #status p {
      margin-top: 3rem; }
